In [24]:

people = {
    "first": ['Corey', 'Jane', 'John', 'Adam'],
    "last": ['Schafer', 'Doe', 'Doe', 'Doe'],
    "email":['CoreyMSchafer@gmail.com','JaneDoe@email.com' ,'JohnDoe@email.com', 'A@email.com']
}

In [25]:
import pandas as pd

In [26]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [27]:
df.sort_values(by=['last', 'first'], ascending=[False, True])

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [28]:
df.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [29]:
df['last'].sort_values(ascending=True)

1        Doe
2        Doe
3        Doe
0    Schafer
Name: last, dtype: object

In [30]:
df = pd.read_csv('../data/developer_survey_2020/survey_results_public.csv')
schema_df = pd.read_csv('../data/developer_survey_2020/survey_results_schema.csv', index_col='Column')
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [31]:
df.sort_values(by=['Country', 'ConvertedComp'], ascending=[True, False], inplace=True)
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
61540,62788,I am a developer by profession,Yes,NaN,NaN,Weekly,8.000000e+06,1000000.0,Afghanistan,Albanian lek,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63925,65381,I am a developer by profession,No,NaN,8,Weekly,8.740000e+09,1000000.0,Afghanistan,Afghan afghani,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,30,35
63993,65456,I am a developer by profession,Yes,NaN,Younger than 5 years,Weekly,5.521171e+09,1000000.0,Afghanistan,Afghan afghani,...,NaN,NaN,NaN,"Information systems, information technology, o...",NaN,NaN,NaN,NaN,More than 50 years,More than 50 years
38261,38672,I am a developer by profession,No,NaN,5,Monthly,1.225000e+06,231192.0,Afghanistan,Russian ruble,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,40
28270,28374,I am a developer by profession,Yes,NaN,7,Yearly,1.300000e+05,130000.0,Afghanistan,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,Mathematics or statistics,NaN,NaN,Just as welcome now as I felt last year,NaN,17,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64425,60055,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64431,61121,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64434,61570,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64436,61918,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64440,62605,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df[['Country', 'ConvertedComp']].head(50)

           Country  ConvertedComp
61540  Afghanistan      1000000.0
63925  Afghanistan      1000000.0
63993  Afghanistan      1000000.0
38261  Afghanistan       231192.0
28270  Afghanistan       130000.0
9806   Afghanistan        23328.0
62520  Afghanistan        23328.0
50812  Afghanistan        20950.0
50469  Afghanistan        20220.0
43642  Afghanistan        18660.0
15371  Afghanistan        18000.0
2918   Afghanistan        16335.0
26443  Afghanistan        13992.0
56146  Afghanistan        10884.0
26676  Afghanistan         8016.0
30451  Afghanistan         5448.0
30405  Afghanistan         4668.0
28704  Afghanistan         4509.0
34842  Afghanistan         4356.0
26758  Afghanistan         2328.0
33755  Afghanistan         1860.0
35602  Afghanistan          780.0
17985  Afghanistan          109.0
35168  Afghanistan            0.0
895    Afghanistan            NaN
5948   Afghanistan            NaN
7586   Afghanistan            NaN
7678   Afghanistan            NaN
8599   Afghanistan            NaN
8824   Afghanistan            NaN
9454   Afghanistan            NaN
9585   Afghanistan            NaN
10317  Afghanistan            NaN
23708  Afghanistan            NaN
24124  Afghanistan            NaN
24908  Afghanistan            NaN
26477  Afghanistan            NaN
26496  Afghanistan            NaN
26525  Afghanistan            NaN
29781  Afghanistan            NaN
30491  Afghanistan            NaN
31199  Afghanistan            NaN
35052  Afghanistan            NaN
35511  Afghanistan            NaN
35541  Afghanistan            NaN
36354  Afghanistan            NaN
36887  Afghanistan            NaN
37284  Afghanistan            NaN
37371  Afghanistan            NaN
37601  Afghanistan            NaN

In [33]:
df['ConvertedComp'].nlargest(10)

5701     2000000.0
53175    2000000.0
42657    2000000.0
58136    2000000.0
45753    2000000.0
121      2000000.0
123      2000000.0
191      2000000.0
663      2000000.0
697      2000000.0
Name: ConvertedComp, dtype: float64

In [34]:
df.nlargest(10, 'ConvertedComp')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
5701,5725,I am a developer by profession,No,26.0,14,Monthly,1.800000e+05,2000000.0,Canada,United States dollar,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Gatsby,Spring,Not applicable - I did not use Stack Overflow ...,40.0,10,4
53175,54263,I am a developer by profession,Yes,29.0,10,Weekly,7.000000e+04,2000000.0,Canada,United States dollar,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",React.js;Vue.js,Express;Flask;jQuery,Just as welcome now as I felt last year,36.0,14,5
42657,43430,I am a developer by profession,Yes,33.0,17,Monthly,1.710000e+05,2000000.0,Italy,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,13,2
58136,59279,I am a developer by profession,Yes,NaN,12,Monthly,3.000000e+05,2000000.0,Nepal,United States dollar,...,Neither easy nor difficult,Too long,NaN,"Computer science, computer engineering, or sof...",Django;Drupal;Flask;Gatsby;Laravel,Angular;Angular.js;ASP.NET;ASP.NET Core;Expres...,A lot more welcome now than last year,40.0,20,14
45753,46711,I am a developer by profession,Yes,NaN,Younger than 5 years,Yearly,1.000000e+56,2000000.0,Nomadic,United States dollar,...,NaN,NaN,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,NaN,168.0,More than 50 years,More than 50 years
121,123,I am a developer by profession,Yes,26.0,12,Weekly,1.200000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Flask;jQuery;React.js,Spring,Just as welcome now as I felt last year,36.0,8,3
123,125,"I am not primarily a developer, but I write co...",Yes,41.0,30,Monthly,2.000000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,NaN,NaN,NaN,Just as welcome now as I felt last year,40.0,11,11
191,193,I am a developer by profession,Yes,29.0,16,Weekly,1.200000e+05,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,13,7
663,665,I am a developer by profession,Yes,24.0,13,Weekly,1.500000e+05,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"A humanities discipline (such as literature, h...",React.js,Express;React.js;Ruby on Rails,Just as welcome now as I felt last year,40.0,4,Less than 1 year
697,699,"I am not primarily a developer, but I write co...",Yes,39.0,16,Weekly,5.200000e+04,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Information systems, information technology, o...",Angular;ASP.NET;ASP.NET Core;Express;Flask,NaN,NaN,40.0,5,2