In [63]:
people = {
    "first": ['Corey', 'Jane', 'John'],
    "last": ['Schafer', 'Doe', 'Doe'],
    "email":['CoreyMSchafer@gmail.com','JaneDoe@email.com' ,'JohnDoe@email.com']
}

In [64]:
import pandas as pd

In [65]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [66]:
df['full_name'] = df['first'] + ' ' + df['last']
df

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@email.com       Jane Doe
2   John      Doe        JohnDoe@email.com       John Doe

In [67]:
df.drop(columns=['first', 'last'], inplace=True)
df

                     email      full_name
0  CoreyMSchafer@gmail.com  Corey Schafer
1        JaneDoe@email.com       Jane Doe
2        JohnDoe@email.com       John Doe

In [68]:
df[['first', 'last']] = df['full_name'].str.split(' ', expand=True)
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe

In [69]:
df.append({'first':'Tony', 'last': 'Guoliang', 'email': 'Hello@gmail.com'}, ignore_index=True)
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe

In [70]:
people = {
    "first": ['Tony', 'Steve' ],
    "last": ['Stark', 'Rogers'],
    "email":['IronMan@gmail.com','Cap@avenge.com']
}
df2 = pd.DataFrame(people)
df2

   first    last              email
0   Tony   Stark  IronMan@gmail.com
1  Steve  Rogers     Cap@avenge.com

In [71]:
df.append(df2, ignore_index=True, sort=False)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3        IronMan@gmail.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [72]:
df.drop(index=2)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe

In [73]:
df.drop(index=df[df['last'] == 'Doe'].index)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer