In [3]:
people = {
    "first": ['Corey', 'Jane', 'John'],
    "last": ['Schafer', 'Doe', 'Doe'],
    "email":['CoreyMSchafer@gmail.com','JaneDoe@email.com' ,'JohnDoe@email.com']
}

In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [11]:
filt = (df['last'] == 'Doe')
df[filt]
df[df['last']=='Doe']

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [13]:
df.loc[filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

# use & | to filter out specific data

In [16]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')
df[filt]

  first last              email
2  John  Doe  JohnDoe@email.com

In [20]:
filt = (df['last'] == 'Doe') | (df['first'] == 'John')
df.loc[filt, 'email']
df.loc[~filt, 'email']

0    CoreyMSchafer@gmail.com
Name: email, dtype: object

# Real world Data process

In [21]:
df = pd.read_csv('../data/developer_survey_2020/survey_results_public.csv')
schema_df = pd.read_csv('../data/developer_survey_2020/survey_results_schema.csv')
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [24]:
high_salary = (df['ConvertedComp'] > 7000)
df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

              Country                   LanguageWorkedWith  ConvertedComp
7       United States                           Python;SQL       116000.0
9      United Kingdom  HTML/CSS;Java;JavaScript;Python;SQL        32315.0
10     United Kingdom                  C#;JavaScript;Swift        40070.0
11              Spain                  HTML/CSS;JavaScript        14268.0
12        Netherlands                  C;JavaScript;Python        38916.0
...               ...                                  ...            ...
64135         Denmark                                  NaN        38208.0
64141         Germany                                  NaN       129718.0
64148        Colombia                                  NaN        19428.0
64153           Chile                                  NaN        15048.0
64154           Japan                                  NaN        38759.0

[32170 rows x 3 columns]

In [27]:
countries = ['United States', 'India', 'United Kingdom', 'Germany', 'Canada']
country_filter = df['Country'].isin(countries)
df.loc[country_filter, 'Country']

0               Germany
1        United Kingdom
4         United States
5               Germany
6                 India
              ...
64441            Canada
64442             India
64443     United States
64452             India
64456     United States
Name: Country, Length: 30849, dtype: object

In [30]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)
df.loc[filt, 'LanguageWorkedWith']

2                                 Objective-C;Python;Swift
7                                               Python;SQL
9                      HTML/CSS;Java;JavaScript;Python;SQL
12                                     C;JavaScript;Python
14        Bash/Shell/PowerShell;C;HTML/CSS;Java;Python;SQL
                               ...
64433    Bash/Shell/PowerShell;HTML/CSS;JavaScript;Perl...
64438       C++;HTML/CSS;JavaScript;Python;Ruby;TypeScript
64443              C++;HTML/CSS;Java;JavaScript;Python;SQL
64446    Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
64457    Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
Name: LanguageWorkedWith, Length: 25287, dtype: object